---
import Main from "@/layouts/Main.astro"
import AuctionCard from "@/components/auction-card.astro"
import { supabase } from "@/lib/supabase/web"


const { data, error } = await supabase
  .from('crossbid_auctions')
  .select()

// console.log(data)
// console.error(error)
---

<Main>
	<section class="p-8">
		<div class="grid grid-cols-3">
			{
				data.map((auction) => (<AuctionCard key={auction.id} auction={auction} />))
			}
		</div>
	</section>
</Main>
