---
import { supabase } from "@/lib/supabase/web"
let { data } = await supabase.auth.getSession()
---

<section class="flex justify-between items-center p-2 mb-4">
    <div>
        <a href="/" class="flex items-center">
            <img src="/logo.png" height="50" width="50" />
            CrossBid
        </a>
    </div>
    <div >
        {
            !data?.session?.access_token?.length
            ? (
                <form action="/~api/auth" method="POST" class="px-4">
                    <button type="submit" id="provider" name="provider" value="github">
                        Sign In
                    </button>
                </form>
            )
            : (
                <div class="flex items-center gap-4 px-4">
                    <a href="/auction/create">
                        Create Auction
                    </a>
                    <a>
                        My Auctions
                    </a>
                    <div>|</div>
                    <div>
                        { data.session.user.email }
                    </div>
                    <form action="/~api/out" method="POST">
                        <button
                            id="auth"
                            name="auth"
                            type="submit"
                            class="text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700"
                        >
                            Sign Out
                        </button>
                    </form>
                </div>
            )
        }
    </div>
</section>
